@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding: 40px;
}

a {
  font-family: 'Manjari', sans-serif;
}